@{
  'Builtin:show-help' = @{
    Adhoc = $False
    Plugin = 'Builtin'
    Name = 'show-help'
    Description = 'Can display help about commands'
  }
  'Builtin:manage-schedules' = @{
    Adhoc = $False
    Plugin = 'Builtin'
    Name = 'manage-schedules'
    Description = 'Can manage scheduled commands'
  }
  'Builtin:manage-permissions' = @{
    Adhoc = $False
    Plugin = 'Builtin'
    Name = 'manage-permissions'
    Description = ""
  }
  'Builtin:manage-groups' = @{
    Adhoc = $False
    Plugin = 'Builtin'
    Name = 'manage-groups'
    Description = 'Can create/update/delete groups'
  }
  'Builtin:view' = @{
    Adhoc = $False
    Plugin = 'Builtin'
    Name = 'view'
    Description = 'Can display details about running bot instance'
  }
  'Builtin:manage-roles' = @{
    Adhoc = $False
    Plugin = 'Builtin'
    Name = 'manage-roles'
    Description = 'Can create/update/delete roles'
  }
  'PoshBot.Networking:test-network' = @{
    Adhoc = $False
    Plugin = 'PoshBot.Networking'
    Name = 'test-network'
    Description = 'Run commands to test network connectivity'
  }
  'Builtin:view-role' = @{
    Adhoc = $False
    Plugin = 'Builtin'
    Name = 'view-role'
    Description = 'Can view details about roles defined in bot'
  }
  'Builtin:view-group' = @{
    Adhoc = $False
    Plugin = 'Builtin'
    Name = 'view-group'
    Description = 'Can view details about groups defined in bot'
  }
  'Builtin:manage-plugins' = @{
    Adhoc = $False
    Plugin = 'Builtin'
    Name = 'manage-plugins'
    Description = 'Can install/enable/disable plugins'
  }
}
