---
- name: ensure bind and dnsutils are installed
  apt:
    pkg:
      - bind9
      - dnsutils
    state: present
    update_cache: yes
- name: ensure bind is running
  service:
    name: bind9
    state: started
# /etc/bind/named.conf.local
